* {
  margin: 0;
  padding: 0;
}

body {
  widows: 100%;
  height: 100%;
  background-color: rgb(219, 219, 219);
  font-size: 20px;
}

.calculator {
  margin: 50px 50px 50px 50px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 500px;
  border: 3px solid black;
  background-color: rgb(161, 247, 253);
  border-radius: 2%;
}

input {
  width: 360px;
  height: 120px;
  border-radius: 20px;
  background-color: rgb(19, 112, 141);
  border-color: black;
}

::placeholder {
  font-size: 50px;
  color: rgb(145, 143, 143);
  padding-left: 30px;
}

.math {
  display: flex;
  flex-direction: row-reverse;
 
}

.cleaning {
  display: flex; 
  flex-direction: column;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(71, 181, 214);
  margin: 10px;
  border-color: black;
}

button:hover {
  color: #f06c64;
  transition: 0.2s linear;
  cursor: pointer;
}

#equally > button {
  background-color: rgb(17, 158, 88);
}

#CE {
  background-color: rgba(197, 48, 48, 0.986);
  text-transform: uppercase;
  font-family: Georgia, serif;
}
