body {
  widows: 100%;
  height: 100%;
  background-color: rgb(219, 219, 219);
  font-size: 20px;
}

.calculator {
  border: 3px solid black;
}

input {
  width: 200px;
  height: 50px;
  background-color: black;
  border: 3px solid white;
  border-radius: 20px;
}

.math {
  display: flex;

}

.numbers {
display: flex;
flex-wrap: wrap;
width: 400px;
margin-top: 50px;
}

button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(71, 181, 214);
  margin: 10px;
}

#equally>button {
  background-color: rgb(17, 158, 88);
}